/*  your css code here. If applicable */
.student-table {
  background-color: yellow;
  border: 1px solid black;
}

.student-table th,
.student-table td {
  border: 1px solid black;
}

.student-table tr {
  border: 1px solid black;
}

.student-table caption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
